# --------------------------------------------------------------------
# Python cache files
# --------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# --------------------------------------------------------------------
# Virtual environments
# --------------------------------------------------------------------
.venv/
venv/
env/
ENV/
.conda/
conda_env/

# Pipenv
Pipfile.lock

# Poetry
.poetry/
poetry.lock

# pyenv
.python-version

# --------------------------------------------------------------------
# Distribution / packaging
# --------------------------------------------------------------------
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# --------------------------------------------------------------------
# Logs & debug
# --------------------------------------------------------------------
*.log
*.out
*.err

# --------------------------------------------------------------------
# Unit test & coverage
# --------------------------------------------------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# --------------------------------------------------------------------
# Type checker / code quality tools
# --------------------------------------------------------------------
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# --------------------------------------------------------------------
# Jupyter Notebooks
# --------------------------------------------------------------------
.ipynb_checkpoints/

# --------------------------------------------------------------------
# IDE / Editor folders
# --------------------------------------------------------------------
# VS Code
.vscode/

# PyCharm / IntelliJ
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# VS / Vim / Emacs
*.swp
*.swo
*~
.vim/
.emacs.d/

# --------------------------------------------------------------------
# Specific project ignores
# --------------------------------------------------------------------
open_data/*
test.ipynb

# --------------------------------------------------------------------
# Environment / secrets
# --------------------------------------------------------------------
.env
